<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<head th:replace="fragments/header :: head"></head>

<!--header-->
<head th:replace="fragments/header :: header"></head>

<!--banner-->
<div th:replace="fragments/header :: banner_top"></div>
<!--content-->
<div class="product">
    <div class="container">
        <div class="col-md-9">
            <div class="mid-popular">
                <th:block th:each="prod : ${products}">
                    <div th:replace="fragments/products_list :: simple_cart_product (${prod})"></div>
                </th:block>
            </div>
            <div class="clearfix"></div>
        </div>

        <!--sidebar-->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="clearfix"></div>
        <!--//sidebar-->

    </div>
    <!--products-->

    <!--//products-->
    <!--brand-->
    <div class="container">
        <script th:replace="fragments/brand :: brand_grid"></script>
    </div>
    <!--//brand-->
</div>
<!--//content-->
<!--//footer-->
<div th:replace="fragments/footer :: footer"></div>
<!--//footer-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:replace="fragments/footer :: scripts"></script>
<!--light-box-files -->
<script th:replace="fragments/footer :: light_box_files"></script>
</body>
</html>