<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<head th:replace="fragments/header :: head"></head>

<!--header-->
<head th:replace="fragments/header :: header"></head>

<!--banner-->
<div th:replace="fragments/header :: banner_top"></div>
<!--login-->
<div class="container">
    <div class="login">
        <form th:action="@{/register/save}" method="POST" th:object="${user}">
            <div class="col-md-6 login-do">
                <input th:type="hidden" th:field="*{id}">
                <div class="login-mail">
                    <input th:field="*{username}" id="username" type="text" placeholder="Login" required="">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <!--				<div class="login-mail">-->
                <!--					<input type="text" placeholder="Phone Number" required="">-->
                <!--					<i  class="glyphicon glyphicon-phone"></i>-->
                <!--				</div>-->
                <div class="login-mail">
                    <input th:field="*{email}" id="email" type="text" placeholder="Email" required="">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <div class="login-mail">
                    <input th:field="*{password}" id="password" type="password" placeholder="Password" required="">
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <label class="hvr-skew-backward">
                    <input th:if="${update}" type="submit" value="Update">
                    <input th:if="${register}" type="submit" value="Register">
                </label>
            </div>
        </form>
        <form th:action="@{/register/{userId}/delete(userId=${user.id})}" method="POST">
            <label th:if="${update}" class="hvr-skew-backward">
                <button type="submit" class="color">Delete</button>
            </label>
        </form>
        <div th:if="${register}" class="col-md-6 login-right">
            <h3>Completely Free Account</h3>
            <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus
                tincidunt tempus aliquam, odio
                libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent
                porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit,
                ex elit vestibulum est, at faucibus erat ligula non neque.</p>
            <a th:href="@{/user_login}" class="hvr-skew-backward">Login</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//login-->
<!--brand-->
<div class="container">
    <div th:replace="fragments/brand :: brand_grid"></div>
</div>
<!--//brand-->
<!--//content-->
<!--//footer-->
<div th:replace="fragments/footer :: footer"></div>
<!--//footer-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/simpleCart.min.js}"></script>
<!-- slide -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>