<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<body class="bg-light">

<div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
    <ul class="list-unstyled">
        <li th:classappend="${activePage == 'Users'} ? active" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/users}" th:text="${' Users ('+count_users+')'}">
                <i class="fa fa-fw fa-link"></i></a></li>
        <li th:classappend="${activePage == 'Roles'} ? active" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/roles}" th:text="${'Roles ('+count_roles+')'}">
                <i class="fa fa-fw fa-link"></i> Roles</a></li>
        <li th:classappend="${activePage == 'Categories'} ? active">
            <a th:href="@{/categories}" th:text="${'Categories ('+count_categories+')'}">
                <i class="fa fa-fw fa-link"></i> Categories</a></li>
        <li th:classappend="${activePage == 'Brands'} ? active">
            <a th:href="@{/brands}" th:text="${'Brands ('+count_brands+')'}">
                <i class="fa fa-fw fa-link"></i> Brands</a></li>
        <li th:classappend="${activePage == 'Products'} ? active">
            <a th:href="@{/products}" th:text="${'Products ('+count_products+')'}">
                <i class="fa fa-fw fa-link"></i> Products</a></li>
    </ul>
</div>

</body>

</html>