<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
</body>

<div th:fragment="brand_grid" class="brand">
    <div class="col-md-3 brand-grid">
        <img th:src="@{/images/ic.png}" class="img-responsive" alt="">
    </div>
    <div class="col-md-3 brand-grid">
        <img th:src="@{/images/ic1.png}" class="img-responsive" alt="">
    </div>
    <div class="col-md-3 brand-grid">
        <img th:src="@{/images/ic2.png}" class="img-responsive" alt="">
    </div>
    <div class="col-md-3 brand-grid">
        <img th:src="@{/images/ic3.png}" class="img-responsive" alt="">
    </div>
    <div class="clearfix"></div>
</div>

</html>