<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<head th:fragment="head">
    <title>Shopin A Ecommerce Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--theme-style-->
    <link th:href="@{/css/style4.css}" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--- start-rate---->
    <script th:src="@{/js/jstarbox.js}"></script>
    <link rel="stylesheet" th:href="@{/css/jstarbox.css}" type="text/css" media="screen" charset="utf-8"/>
    <script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value) {
                    if (starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
    </script>
    <!---//End-rate---->

    <div th:fragment="header" class="header">
        <div class="container">
            <div class="head">
                <div class=" logo">
                    <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="header-top">
            <div class="container">
                <div class="col-sm-5 col-md-offset-2  header-login">
                    <ul>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a th:href="@{/cart}">Checkout</a></li>
                    </ul>
                </div>

                <div class="col-sm-5 header-social">
                    <ul>
                        <li><a href="#"><i></i></a></li>
                        <li><a href="#"><i class="ic1"></i></a></li>
                        <li><a href="#"><i class="ic2"></i></a></li>
                        <li><a href="#"><i class="ic3"></i></a></li>
                        <li><a href="#"><i class="ic4"></i></a></li>
                    </ul>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="container">

            <div class="head-top">

                <div class="col-sm-8 col-md-offset-2 h_menu4">
                    <nav class="navbar nav_bottom" role="navigation">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                    data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav nav_1">
                                <li><a class="color" th:href="@{/}">Home</a></li>
                                <li class="dropdown mega-dropdown active">
                                    <a href="#" class="color1 dropdown-toggle" data-toggle="dropdown" th:text="${'Categories ('+count_categories+')'}">Categories<span
                                            class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        <div class="menu-top">
                                            <div class="col1" th:each="cat : ${categoryAndBrands}">
                                                <div class="h_nav">
                                                    <h4 th:text="${cat.key.name +' ('+cat.value.size()+')'}">Submenu1</h4>
                                                    <ul th:each="brand : ${cat.value}">
                                                        <li><a th:href="@{'/products'+'?radio_category='+${cat.key.id}+'&radio_brand='+${brand.id}}"
                                                               th:text="${brand.name}">Accessories</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="" th:classappend="${activePage == 'Products'} ? active"><a class="color3"
                                                                                                      th:href="@{/products}">Products</a>
                                </li>
                                <li class="" th:classappend="${activePage == 'About'} ? active"><a class="color4"
                                                                                                   th:href="@{404}">Error</a>
                                </li>
                                <li class="" th:classappend="${activePage == 'Short Codes'} ? active"><a class="color5"
                                                                                                         th:href="@{/typo}">Short
                                    Codes</a></li>
                                <li class="" th:classappend="${activePage == 'Contact'} ? active"><a class="color6"
                                                                                                     th:href="@{contact}">Contact</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->

                    </nav>
                </div>
                <div class="col-sm-2 search-right">
                    <ul class="heart">
                        <li>
                            <a href="wishlist.html">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </a></li>
                        <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i
                                class="glyphicon glyphicon-search"> </i></a></li>
                    </ul>
                    <div class="cart box_1">
                        <a th:href="@{/cart}">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span></div>
                                <img th:src="@{/images/cart.png}" alt=""/></h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

                    </div>
                    <div class="clearfix"></div>

                    <!----->

                    <!---pop-up-box---->
                    <link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all"/>
                    <script th:src="@{/js/jquery.magnific-popup.js}" type="text/javascript"></script>
                    <!---//pop-up-box---->
                    <div id="small-dialog" class="mfp-hide">
                        <div class="search-top">
                            <div class="login-search">
                                <input type="submit" value="">
                                <input type="text" value="Search.." onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Search..';}">
                            </div>
                            <p>Shopin</p>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('.popup-with-zoom-anim').magnificPopup({
                                type: 'inline',
                                fixedContentPos: false,
                                fixedBgPos: true,
                                overflowY: 'auto',
                                closeBtnInside: true,
                                preloader: false,
                                midClick: true,
                                removalDelay: 300,
                                mainClass: 'my-mfp-zoom-in'
                            });

                        });
                    </script>
                    <!----->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</head>

<div th:fragment="banner_top" class="banner-top">
    <div class="container">
        <h1 th:text="${bannerPage}">Single</h1>
        <em></em>
        <h2><a th:href="@{/}">Home</a></h2>
    </div>
</div>
</body>
</html>